.hide {
	display: none;
}

.yellow {
	background-color: yellow;
}

.orange {
	background-color: orange;
}

.purple {
	background-color: purple;
}

/* not displaying search history on small screen */
@media only screen and (max-width: 767px) {
	#search-history-box {
		display: none !important;
	}
}

/* set search box to be max width on modile */
@media only screen and (min-width: 768px) {
	#search-bar {
		min-height: 100vh;
	}
}